<a href="https://colab.research.google.com/github/adandanish/restraunt_tips/blob/main/imdb_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=I5L3OJ-xtsw


https://pypi.org/project/beautifulsoup4/

https://www.crummy.com/software/BeautifulSoup/bs4/doc/

https://github.com/sivasahukar95/CodeStore/blob/master/Scraping%20data%20from%20imdb.ipynb

https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [2]:
#assigning the URL with variable name url
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
#request allow you to send HTTP request
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
response

In [34]:
#creating an empty list, so that we can append the values
movie_name = []
year = []
time = []
rating = []
metascore = []
votes = []
gross = []

In [15]:
#storing the meaningfull required data in the variable
movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-advanced'})

In [6]:
len(movie_data)

100

In [35]:
#calling one by one using for loop
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)

    year_of_release = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_release)

    runtime = store.p.find('span', class_ = 'runtime').text.replace(' min', '')
    time.append(runtime)

    rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)

    meta  = store.find('span', class_ = 'metascore').text.replace(' ', '') if store.find('span', class_ = 'metascore') else '^^^^^^'
    metascore.append(meta)

    #since, gross and votes have same attributes, that's why we had created a common variable and then used indexing
    value = store.find_all('span', attrs = {'name': 'nv'})

    vote = value[0].text
    votes.append(vote)

    grosses = value[1].text if len(value) >1 else '*****'
    gross.append(grosses)

In [36]:
#creating a dataframe using pandas library
movie_DF = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year, 'Watchtime': time, 'Movie Rating': rating, 'Metascore': metascore, 'Votes': votes, 'Gross collection': gross,})

In [37]:
#Saving data in Excel file:

movie_DF.to_excel("Top_100_IMDB_Movies.xlsx")

In [38]:
movie_DF.head(10)

,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Votes,Gross collection
0,The Shawshank Redemption,1994,142,9.3,82,"2,771,093",$28.34M
1,The Godfather,1972,175,9.2,100,"1,929,034",$134.97M
2,The Dark Knight,2008,152,9.0,84,"2,745,944",$534.86M
3,Schindler's List,1993,195,9.0,95,"1,395,301",$96.90M
4,12 Angry Men,1957,96,9.0,97,"821,944",$4.36M
5,The Lord of the Rings: The Return of the King,2003,201,9.0,94,"1,900,873",$377.85M
6,The Godfather Part II,1974,202,9.0,90,"1,312,015",$57.30M
7,Spider-Man: Across the Spider-Verse,2023,140,8.9,86,"190,592",#15
8,Pulp Fiction,1994,154,8.9,95,"2,126,874",$107.93M
9,Oppenheimer,2023,180,8.8,89,"134,681",#23

In [39]:
#len(movie_name)
#movie_name